.footer {
    background: $black;
    padding: 34px 0 40px 0;
    text-align: center;
    &__container {
        @include container;
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        row-gap: 50px;
        align-items: center;
    }
    a {
        color: $white;
        &:hover {
            color: $accent;
        }
    }
    ul {
        display: flex;
        align-items: center;
        gap: 0 30px;
        max-width: 110px;
        margin: 0 auto;
        svg {
            max-width: 40px;
            max-height: 40px;
        }
    }
}